<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial behnam</title>
  </head>
  <body>
  {% extends 'template.html' %}
  {% block content %}
  
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun and i promise i will learn it soon  </p>
    {% endblock %}
  </body>
</html>